.btn{
    background-color: #D70040;
    font-family: 'Dancing Script', cursive;

}
h1{
    color: #D2042D;
    font-family: 'Dancing Script', cursive;
}

canvas{
    animation-name: alternatecolors;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes alternatecolors{
from{box-shadow: 1px 1px 38px #D2042D;}
to{box-shadow: 1px 1px 38px #ff1493;}
}